'scopeName': 'text.html.cfml'
'name': 'HTML (CFML)'
'fileTypes': [
  'cfm'
  'cfml'
]
'injections':
  'L:meta.tag - meta.tag.cfml':
    'patterns': [
      {
        'include': '$self'
      }
    ]
'patterns': [
  {
    'include': 'source.cfml'
  }
  {
    'include': 'text.html.basic'
  }
]
